$ff-regular:Inter-Regular;
$ff-medium:Inter-Medium;
$ff-semibold:Inter-SemiBold;

$fs-12:0.75rem;
$fs-14:0.875rem;
$fs-16:1rem;

$mauve-primary:rgb(90, 74, 209);
$mauve-light:rgb(132, 124, 198);
$mauve-dark:rgb(36, 21, 201);
$text-clr:rgb(64, 67, 74);
$text-clr-grey:rgb(155, 160, 171);
$border-clr:#bdc5d6;
$background-light:rgb(244, 246, 249);
$light-clr:rgb(252, 252, 252);

